/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #b1ddc9;
  color: #555;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Navbar-left */
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  text-decoration: none;
}

.logo-img {
  height: 40px;
}

.categories-link {
  font-size: 16px;
  color: #555;
  text-decoration: none;
  margin-left: 15px;
}

.categories-link:hover {
  color: #4c8bf5;
}

/* Search bar */
.search-form {
  display: none; /* Hide search bar for mobile */
}

/* Navbar-right */
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column; /* Stack items vertically on mobile */
}

.navbar-right ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add spacing between items */
}

.navbar-right ul li a {
  color: #555;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-right ul li a:hover {
  color: #4c8bf5;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row; /* Stack navbar items */
    align-items: flex-start;
  }

  .navbar-right {
    flex-direction: row; /* Stack right menu items vertically */
    width: 100%;
    margin-top: 10px;
  }

  .navbar-right ul {
    flex-direction: row;
    width: 100%;
  }

  .navbar-right ul li {
    margin: 5px 0; /* Spacing between items */
  }

  .search-form {
    display: flex; /* Show search bar for mobile */
    width: 100%;
    margin-top: 10px;
  }

  .search-container {
    width: 100%; /* Adjust search bar width for mobile */
  }
}
